@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto.woff2") format("woff2");
  src: url("fonts/roboto.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/robotomedium.woff2") format("woff2");
  src: url("fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/robotobold.woff2") format("woff2");
  src: url("fonts/robotobold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;  
}

html { 
  box-sizing: border-box; 
}

*, *::before, *::after { 
  box-sizing: inherit; 
}

a {
  text-decoration: none
}

.main-header {
  background-color: #eeeeee;
}

.main-navigation {
  color: #000000;  
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  padding-top: 49px;
  line-height: 30px;
  width: 1160px;
  margin: 0 auto;
  align-items: center;
}

.main-navigation li {
  list-style: none;
}

.main-logo {  
  width: 160px;
  height: 65px;
} 

.logo:hover,
.logo:focus {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.3;
}

.links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 42px 0 0;
  margin: 0;
  
}

.links li {
  padding: 26px 0px 8px;
  align-items: center;
}

.links li:not(:last-child) {
  padding-right: 45px;
}

.links-item {
  color: #000000;
}

.links-item:hover{
  color: #fb565a;
}

.links-item:active {
  color: rgba(0, 0, 0, 0.3);
}

.links-item-active {
  padding-bottom: 9px;
  border-bottom: 2px solid #fb565a;
  color: inherit;
}

.cart {
  padding:26px 0 8px 41px;
  position: relative;
}

.cart::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  background-image: url(../img/cart-icon.svg);
  background-repeat: no-repeat;
  top: 32px;
  left: 0px;
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding: 0 20px;
}

.slider-background {
  background-color: #eeeeee;
}

.slider-section {
  display: block;
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 80px;
  position: relative;
}

.slider-controls label {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 17px;
  vertical-align: top;
  background-color: transparent;
  border: 9px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.slider-controls label::after {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: 3px solid #c1c1c1;
  border-radius: 50%;
  display: none;
}

.slider-controls {
  position: absolute;
  bottom: 90px;
  left: 536px;
  z-index: 20;
  font-size: 0;
}

.slide {
  display: none;
}

#product-1:checked ~ .slider-background #slide1,
#product-2:checked ~ .slider-background #slide2,
#product-3:checked ~ .slider-background #slide3 {
  display: block;
}

#product-1:checked ~ .slider-background label:first-child::after,
#product-2:checked ~ .slider-background label:nth-child(2)::after,
#product-3:checked ~ .slider-background label:last-child::after {
  display: block;
}

.slider-description {
  width: 515px;
  padding-top: 69px;
  margin-right: 45px;
}

.slider-box {
  display: flex;
  padding-top: 10px;
}

.slider-box img {
  margin-top: 9px;
}

.slider-title {
  color: #000000;  
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  padding: 0px;
  margin: 0px;
  letter-spacing: 1.2px;
}

.phone-title {
  width: 386px;
}

.pc-title {
  width: 515px;
  letter-spacing: 1.4px;
}

.gadget-title {
  width: 408px;
}

.slider-text {
  color: #283136;
  padding-top: 28px;
  padding-bottom: 36px;
  margin: 0px;
  letter-spacing: 0.1px;
}

.phone {
  width: 361px;
}

.pc {
  width: 409px;
}

.gadget {
  width: 343px;
}

.main-button {
  font-weight: 500;
  display: inline-block;
  padding-top: 17px;
  padding-bottom: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: white;
  border-radius: 3px;
  text-align: center;
  color: #ffffff;
  outline: none;
  border: none;
}

.slider-box .main-button {
  padding-right: 54px;
  padding-left: 52px;
  background-color: #fb565a;
  margin-bottom: 80px;
}

.slider-box .main-button:hover {
  background-color: #e74246;
}

.slider-box .main-button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.phone-slider {
  background-image: url(../img/slide-picture_phone.png);
  background-color: #eeeeee;
  background-repeat: no-repeat;
  background-size: 698px 413px;
  background-position: 430px 18px;
}

.pc-slider {
  background-image: url(../img/slide-picture_pc.png);
  background-color: #eeeeee;
  background-repeat: no-repeat;
  background-size: 663px 430px;
  background-position: 100% 50%;
}

.gadget-slider {
  background-image: url(../img/slide-picture_gadget.png);
  background-color: #eeeeee;
  background-repeat: no-repeat;
  background-size: 759px 411px;
  background-position: 400px 18px;
}

.goods {
  display: flex;
  justify-content: space-between;
  padding: 0;
  width: 1160px;
  margin: 0 auto;
  padding-right: 60px;
}

.web-sites,
.app,
.presentation {
  width: 300px;
}

.goods-image {
  margin-bottom: 19px;
}

.goods li {
  list-style-type: none;
}

.goods-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: -0.8px;
}

.goods-text {
  color: #283136;
  padding: 17px 40px 30px 0px;
  margin: 0;
  letter-spacing: 0.2px;
}

.goods .main-button {  
  margin-bottom: 35px;  
  padding-right: 43px;
  padding-top: 18px;
  padding-left: 38px;
}

.web-sites .main-button {
  background-color: #fb565a;
}

.web-sites .main-button:hover {
  background-color: #e74246;
}

.web-sites .main-button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.app .main-button {
  background-color: #00ca74;
}

.app .main-button:hover {
  background-color: #00bc6c;
}

.app .main-button:active {
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.presentation .main-button {
  background-color: #efc84a;
}

.presentation .main-button:hover {
  background-color: #eab534;
}

.presentation .main-button:active {
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.about {
  display: flex;
  justify-content: space-between;
  padding: 39px 0px 37px 0;  
}

.container .about {
  border-top: 2px solid rgba(0, 0, 0, 0.1);
}

.about-text {
  width: 650px;
}

.about-text h3 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  margin: 0px;
  padding-bottom: 35px;
  padding-top: 43px;
}

.about-text p {
  color: #283136;
  width: 614px;
  margin: 0px;
  padding-bottom: 37px;
  letter-spacing: 0.2px;
}

.about-text h4 {
  margin: 0;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: -0.5px;
}

.order {
  padding: 0;
  margin:0;
}

.order li {
  list-style-type: none;
  padding-top: 24px;
  margin: 0;
  align-items: center;
  display: flex;
}

.order li:before {
  content: "";
  width: 25px;
  height: 2px;
  background: #fb565a;
  margin-right: 10px;
}

.about-numbers {
  width: 360px;
}

.about-numbers img {
  margin-top: 8px;
  margin-bottom: 30px;
}

.about-numbers p {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin: auto;
  margin-bottom: 38px;
  letter-spacing: -0.4px;
}

.percent {
  top: -1em;
}

.table-values td {
  font-weight: bold;
  font-size: 45px;
  line-height: 45px;
  padding-right: 23px;
  padding-bottom: 18px;
}

.table-values sup {
  font-size: 20px;
}

.table-features td {
  line-height: 18px;
  color: #283136;
}

.partners {  
  margin-bottom: 80px;
  position: relative;
}

.partners-links {
  height: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 43px 0px 31px;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  margin: 0;
}

.partners-links a {
  opacity: 0.2;  
}

.partners-links a:hover,
.partners-links a:focus {
  opacity: 1;
}

.partners-links a:active {
  opacity: 0.1;
}

.partners-links li {
  list-style-type: none;
  position: relative;
  height: 90px;  
}

.partners-links li:last-child {
  padding-left: 25px;
  padding-top: 5px;
}

.partners-links li:first-child {
  padding-top: 17px;
}

.partners-links li:nth-child(3) {
  padding-top: 18px;
}

.partners-links li:not(:first-child):before {
  content: "";
  position: absolute;
  top: 20px;
  left: -45px;
  width: 2px;
  height: 52px;
  background-color: rgba(0, 0, 0, 0.1);
}

.footer {
  position: relative;
}

.map-section {
  position: relative;
  height: 416px;
  background: url(../img/map.jpg) no-repeat;
  background-size: cover;
}

.map-section .container {
  position: relative;
}

.map-section img { 
  width: 100%;
  height: auto;
}

.map-textbox {
  position: absolute;
  top: 54px;
  padding: 50px 50px;
  background-color: white;
  width: 319px;
}

.map-textbox .main-button {
  width: 100%;
  margin-top: 32px;
  background-color: #fb565a;
}

.map-textbox .main-button:hover {
  background-color: #e74246;
}

.map-textbox .main-button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.map-textbox h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0px;
  padding-bottom: 24px;
  letter-spacing: -0.9px;
}

.map-textbox p {
  line-height: 18px;
  margin: 0px;
  color: #666666;
  padding-bottom: 15px;
}

.map-textbox a:first-of-type {
  color: #666666;
}

.footer-container {
  display: flex;
}

.social-button {  
  list-style: none;
  padding: 5px 127px 5px 2px;
  margin: 0;
  display: flex;
  align-items: center;

}

.social-button li { 
  height: 76px;
  width: 76px; 
  background-color: #e1e1e1;
  margin-right: 15px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.social-button a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 76px;
  width: 76px;
}

.social-button li:hover {
  background-color: #e74246;
}

.social-button li:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.social-button img:active {
  opacity: 0.3;
}

.footer-text {
  text-align: left;
  align-self: center;
}

.footer-text h2 {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  padding: 76px 0px 12px;
  margin: 0;
  letter-spacing: -0.6px;
}

.footer-text p {
  line-height: 22px;
  color: #444444;
  padding-bottom: 76px;
  margin: 0;
}

.popup {
  position: fixed;
  right: 180px;
  bottom: 50px;
  background-color: #ffffff;
  width: 935px;
  height: 575px;
  padding: 69px 60px 0px 93px;
  margin: 0 auto;
  box-shadow: 0px 20px 40px rgba(0, 1, 1, 0.75);
  z-index: 50;
  display: none;
}

.popup-top {
  display: flex;
  justify-content: space-between;
}

.close-cross-button::before {
  position: absolute;
  content: "";
  top: 78px;
  left: 825px;
  width: 21px;
  height: 21px;
  background-image: url("../img/close-cross.svg");
  background-repeat: no-repeat;
  opacity: 0.3;
}

.close-cross-button:hover::before,
.close-cross-button:focus::before {
  opacity: 1;
}

.close-cross-button:active::before {
  opacity: 0.1;
}

.popup-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.popup-form label {
  display: block;
}

.popup p {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  padding-bottom: 37px;
  margin: 0;
}

.popup label {
  font-weight: bold;
  line-height: 18px;
}

.popup-field {
  color: #444444;
  line-height: 18px;
  border: 2px solid #d7dcde;
  padding: 16px;
}

.popup-field::placeholder {
  color: rgba(68, 68, 68, 0.5);
}

.popup-field:hover {
  border-color: #b4b9bb;
}

.popup-field:focus {
  border-color: #000000;
  outline: none;
}

.popup-field:invalid {
  border-color: #e74246;
  color: #e74246;
}

.popup .main-button {
  padding-right: 77px;
  padding-left: 84px;
  background-color: #fb565a;
}

.popup .main-button:hover {
  background-color: #e74246;
}

.popup .main-button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.name, .email {
  width: 353px;
  height: 50px;
  margin: 11px 0px 31px 0px;
}

.name {
  margin-right: 38px;
}

.text {
  width: 744px;
  height: 115px;
  margin-top: 10px;
  margin-bottom: 39px;
  resize: none;
  padding-top: 9px;
}

.modal-show {
  display: block;
}

.container-title {
  background-color: #eeeeee;
  padding: 0 140px;
  margin-bottom: 51px;
}

.title {
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  font-weight: 500;
  padding: 81px 57px 110px 0;
  background-color: #eeeeee;
  width: 1160px;
  margin: 0 auto;
  letter-spacing: 1.1px;
}

.selection-title {
  color: #000000;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.measure {
  margin-right: 139px;
}

.measure-section .container {
  display: flex;
}

.measure .selection-title {
  letter-spacing: 0.18px;
}

.measure h3 {
  padding-bottom: 56px;
  margin: 0;
}

.filter-item {
  margin: 0;
  padding: 0;  
  border: none;  
}

.range-filter {
  width: 261px;
  margin-top: 50px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

.range-controls {
  position: relative;  
  height: 80px;
  margin-bottom: 13px;
  padding-top: 39px;
  padding-right: 21px;
  padding-left: 21px;  
  background-color: #eeeeee;  
  border-radius: 3px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00cc76;
}

.range-controls .toggle {
  box-sizing: content-box;
  position: absolute;
  top: 31px;
  left: 0;
  
  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
}

.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
  margin-bottom: 29px;
}

.price-controls label {
  display: inline-block;
  width: 50%;  
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #283136;
}

.price-controls input {
  width: 80px;
  padding: 8px 10px;
  margin-left: 12px;  
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #283136;  
  border: none;
  border-radius: 3px;
  background: #eeeeee;
}

.max-price {
  text-align: right;
}

.selection {
  border: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-top: 27px;
  padding: 0px;
}

.selection .selection-title {
  padding-bottom: 13px;
  letter-spacing: -0.8px;
}

.selection label {
  position: relative;
}

.form li {
  list-style-type: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -36px;
  top: -1px;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4
}

.filter-input-checkbox:checked + label::before {
  content: "";
  position: absolute;
  left: -36px;
  top: -1px;
  width: 27px;
  height: 23px;  
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -36px;
  top: -3px;
  width: 25px;
  height: 25px;  
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-input-radio:checked + label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -36px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-input:hover + label::before {
  opacity: 1
}

.filter-input:checked:hover + label::before {
  opacity: 1
}

.filter-input:disabled + label::before {
  opacity: 0.1;
}

.selection-features {
  color: #283136;
  line-height: 20px;
  position: relative;  
}

.selection-features:disabled {
  color: rgba(40, 49, 54, 0.3);
}

.selection ul {
  padding-left: 38px;
}

.selection li {
  padding-bottom: 16px;
} 

.selection ul {
  margin: 0;
}

.form-button {
  margin-top: 36px;
  border-radius: 3px;
  width: 100%;
  background-color: #eeeeee;
  color: #000000;
}

.form-button:hover {
  background-color: #dfdfdf;
}

.form-button:active {
  color: rgba(0, 0, 0, 0.3);
  background-color:#d5d5d5;
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.sort {
  display: flex;
  justify-content: space-between;
  padding-bottom: 39px;
}

.sort-links {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  padding-top: 7px;
}

.sort-features {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  line-height: 18px;
  font-size: 14px; 
}

.sort-features li {
  padding-right: 24px;
  opacity: 0.3;  
  letter-spacing: -0.8px;
}

.sort-features li:last-child {
  padding-right: 0;
}

.sort-features li:hover,
.sort-features li:focus {
  opacity: 0.6;
} 

.sort-features li:active {
  opacity: 1;
} 

.sort-features .sort-current {
  opacity: 1;
}

.arrow {
  display: flex;
  margin: 0;
}

.arrow li {
  list-style-type: none;
  opacity: 0.2; 
}

.arrow-bottom {
  display: inline-block;
  margin-right: 18px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-top: 10px solid black;
  margin-top: 5px; 
}

.arrow-top {
  display: inline-block;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-bottom: 10px solid black;
  margin-bottom: 10px;
}

.arrow li:hover,
.arrow li:focus {
   opacity: 0.6;
} 

.arrow li:active {
  opacity: 1;
} 

.site-examples {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 760px;
}

.site-examples-item {
  margin-bottom: 26px;
  border-top: 43px solid #f1f1f1;
  border-radius: 3px;
  position: relative;  
}

.site-examples-item:hover {
  border-color: #4b4b4b;
  box-shadow: 0 6px 15px 0 rgba(77, 77, 77, 0.1);
}

.site-examples-item::after {
  content: "";
  height: 15px;
  width: 15px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 25px 0 0 #fff, 46px 0 0 #fff;
  position: absolute;
  left: 16px;
  top: -29px;
}

.site-examples-item:hover .site-hover {
  display: block;
}

.site-hover a {
  color: #000000;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.site-hover a:hover,
.site-hover a:focus {
  color: #fb565a;
}

.site-hover a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-hover p {
  color: #666666;
  line-height: 18px;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 30px;
  margin: 0;
}

.site-hover .main-button {
  background-color: #fb565a;
  padding-right: 57px;
  padding-left: 57px;
}

.site-hover .main-button:hover {
  background-color: #e74246;
}

.site-hover .main-button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.site-hover {
  background-color: #eeeeee; 
  text-align: center;
  padding-top: 25px;
  padding-bottom: 46px;
  width: 360px;
  display: none;
  position: absolute;
  bottom: 3px;
}

.pagination {
  padding: 29px 0 62px 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.pagination a {
  display: block;
  padding: 16px 19px 13px 20px;
  color: #000000;
  font-weight: 500;
}

.page {
  background-color: #eeeeee;
  line-height: 18px;
  font-weight: 500;
  color: black;
  border-radius: 3px;
  margin-right: 14px;  
}

.page:last-child {
  margin-right: 0;
}

.page:hover,
.page:focus {
  border-color: #dfdfdf;
}

.page:active {
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;  
  color: rgba(0, 0, 0, 0.3);
}

.pagination a:active {
  opacity: 0.3;
}

.next {
  padding: 0 57px;
  text-transform: uppercase;
}

.current {
  outline: 3px solid #dbdbdb;
  outline-offset: -3px;
  background-color: white;
  border-radius: 3px;
}

.current:active {
  outline: none;
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}